interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/objects/contacts/unsubscribe@example.com?idProperty=email&properties=firstname,lastname,email
  response:
    body:
      string: '<html>

        <head>

        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

        <title>Error 404 Not Found</title>

        </head>

        <body><h2>HTTP ERROR 404</h2>

        <p>Resource not found</p>

        </body>

        </html>

        '
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      x-hubspot-correlation-id:
      - 0d62fd61-a2ab-4622-9c42-964f0443f0f6
      x-hubspot-notfound:
      - 'true'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"firstname": "Unsubscribe", "lastname": "Test", "email":
      "unsubscribe@example.com"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts
  response:
    body:
      string: '{"id":"198712745387","properties":{"createdate":"2026-02-02T22:40:41.208Z","email":"unsubscribe@example.com","firstname":"Unsubscribe","hs_all_contact_vids":"198712745387","hs_associated_target_accounts":"0","hs_currently_enrolled_in_prospecting_agent":"false","hs_email_domain":"example.com","hs_full_name_or_email":"Unsubscribe
        Test","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"1770072041208","hs_marketable_status":"false","hs_marketable_until_renewal":"false","hs_membership_has_accessed_private_content":"0","hs_object_id":"198712745387","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_prospecting_agent_actively_enrolled_count":"0","hs_prospecting_agent_total_enrolled_count":"0","hs_registered_member":"0","hs_sequences_actively_enrolled_count":"0","hs_v2_date_entered_current_stage":"2026-02-02T22:40:41.208Z","hs_v2_time_in_current_stage":"2026-02-02T22:40:41.208Z","lastmodifieddate":"2026-02-02T22:40:41.208Z","lastname":"Test","lifecyclestage":"lead","num_notes":"0"},"createdAt":"2026-02-02T22:40:41.208Z","updatedAt":"2026-02-02T22:40:41.208Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/198712745387"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/contacts/198712745387
      x-hubspot-correlation-id:
      - b00256d2-c1b9-4f4b-aee6-f0e547b5ceb3
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/lists/object-type-id/0-1/name/Test%20List
  response:
    body:
      string: '{"list":{"listId":"33","listVersion":1,"createdAt":"2026-02-02T22:40:25.295Z","updatedAt":"2026-02-02T22:40:25.295Z","filtersUpdatedAt":"2026-02-02T22:40:25.295Z","processingStatus":"COMPLETE","createdById":"11017171","updatedById":"11017171","processingType":"MANUAL","objectTypeId":"0-1","name":"Test
        List","size":1,"listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 61361f1e-5d95-4a5c-971c-9c04d5c79a35
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '107'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/lists/33/memberships/join-order
  response:
    body:
      string: '{"results":[{"membershipTimestamp":"2026-02-02T22:40:26.101Z","recordId":"198785071115"}],"total":1}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 00384851-5e14-4b8c-b761-8f8cdbebd53c
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '106'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
