interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"hs_timestamp": 1705312800000, "hs_note_body": "Simple
      note with just content and timestamp"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/notes
  response:
    body:
      string: '{"id":"103072002940","properties":{"hs_body_preview":"Simple note with
        just content and timestamp","hs_body_preview_html":"<html>\n<head></head>\n<body>\nSimple
        note with just content and timestamp\n</body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2026-02-02T20:42:14.215Z","hs_lastmodifieddate":"2026-02-02T20:42:14.215Z","hs_note_body":"Simple
        note with just content and timestamp","hs_obj_coords":"0-46-103072002940","hs_object_id":"103072002940","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_timestamp":"2024-01-15T10:00:00Z"},"createdAt":"2026-02-02T20:42:14.215Z","updatedAt":"2026-02-02T20:42:14.215Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/objects/0-46/views/all/list?filters=%5B%7B%22property%22%3A%22hs_object_id%22%2C%22operator%22%3A%22EQ%22%2C%22value%22%3A%22103072002940%22%7D%5D"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/notes/103072002940
      x-hubspot-correlation-id:
      - 352e6ba8-a31d-46bd-8d5b-c1e9e8173854
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
