interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/objects/contacts/test@example.com?idProperty=email&properties=firstname,lastname,email
  response:
    body:
      string: '<html>

        <head>

        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

        <title>Error 404 Not Found</title>

        </head>

        <body><h2>HTTP ERROR 404</h2>

        <p>Resource not found</p>

        </body>

        </html>

        '
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      x-hubspot-correlation-id:
      - 6816a8fc-2b51-4643-a60c-7047f365c0aa
      x-hubspot-notfound:
      - 'true'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '105'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"firstname": "Test", "lastname": "User", "email": "test@example.com"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts
  response:
    body:
      string: '{"id":"198860416544","properties":{"createdate":"2026-02-02T22:40:46.693Z","email":"test@example.com","firstname":"Test","hs_all_contact_vids":"198860416544","hs_associated_target_accounts":"0","hs_currently_enrolled_in_prospecting_agent":"false","hs_email_domain":"example.com","hs_full_name_or_email":"Test
        User","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"1770072046693","hs_marketable_status":"false","hs_marketable_until_renewal":"false","hs_membership_has_accessed_private_content":"0","hs_object_id":"198860416544","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_prospecting_agent_actively_enrolled_count":"0","hs_prospecting_agent_total_enrolled_count":"0","hs_registered_member":"0","hs_sequences_actively_enrolled_count":"0","hs_v2_date_entered_current_stage":"2026-02-02T22:40:46.693Z","hs_v2_time_in_current_stage":"2026-02-02T22:40:46.693Z","lastmodifieddate":"2026-02-02T22:40:46.693Z","lastname":"User","lifecyclestage":"lead","num_notes":"0"},"createdAt":"2026-02-02T22:40:46.693Z","updatedAt":"2026-02-02T22:40:46.693Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/198860416544"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/contacts/198860416544
      x-hubspot-correlation-id:
      - 7e54649f-4362-4d0f-85c8-45fd22070399
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '104'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/lists/object-type-id/0-1/name/Marketing%20List
  response:
    body:
      string: '{"status":"error","message":"List does not exist with name Marketing
        List and object type ID 0-1.","correlationId":"adcec175-9bd8-40e8-bd09-d80a491b350e","context":{"listName":["Marketing
        List"],"objectTypeId":["0-1"]},"category":"OBJECT_NOT_FOUND","subCategory":"ListError.LIST_NAME_DOES_NOT_EXIST"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - adcec175-9bd8-40e8-bd09-d80a491b350e
      x-hubspot-notfound:
      - 'true'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '103'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"name": "Marketing List", "objectTypeId": "0-1", "processingType": "MANUAL"}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/lists
  response:
    body:
      string: '{"list":{"listId":"34","listVersion":1,"createdAt":"2026-02-02T22:40:47.656Z","updatedAt":"2026-02-02T22:40:47.656Z","filtersUpdatedAt":"2026-02-02T22:40:47.656Z","processingStatus":"COMPLETE","createdById":"11017171","updatedById":"11017171","processingType":"MANUAL","objectTypeId":"0-1","name":"Marketing
        List","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 848077ad-1670-4669-a8fd-c603014780fb
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '102'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/lists/34/memberships/join-order
  response:
    body:
      string: '{"results":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 842c6aac-d4ce-4c27-b925-2771cf833e49
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '101'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"recordIdsToRemove": [], "recordIdsToAdd": ["198860416544"], "listId":
      "34"}'
    headers:
      Content-Type:
      - a
    method: PUT
    uri: https://api.hubapi.com/crm/v3/lists/34/memberships/add-and-remove
  response:
    body:
      string: '{"recordsIdsAdded":["198860416544"]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 4ad7ac52-1e27-484d-871c-a51508c54472
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '100'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/lists/object-type-id/0-1/name/Newsletter
  response:
    body:
      string: '{"status":"error","message":"List does not exist with name Newsletter
        and object type ID 0-1.","correlationId":"48578cc1-6cb6-4e51-bd09-b18bbb30e032","context":{"listName":["Newsletter"],"objectTypeId":["0-1"]},"category":"OBJECT_NOT_FOUND","subCategory":"ListError.LIST_NAME_DOES_NOT_EXIST"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 48578cc1-6cb6-4e51-bd09-b18bbb30e032
      x-hubspot-notfound:
      - 'true'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '99'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '9'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"recordIdsToRemove": [], "recordIdsToAdd": ["198860416544"], "listId":
      "35"}'
    headers:
      Content-Type:
      - a
    method: PUT
    uri: https://api.hubapi.com/crm/v3/lists/35/memberships/add-and-remove
  response:
    body:
      string: '{"recordsIdsAdded":["198860416544"]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 48cf8f39-88b7-4edd-bdb2-a41a21523486
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '97'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '9'
    status:
      code: 200
      message: OK
version: 1
