interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "dealname", "operator":
      "EQ", "value": "New Lookup Deal Opportunity"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/deals/search
  response:
    body:
      string: '{"total":1,"results":[{"id":"56148767310","properties":{"amount":"75000","closedate":"2024-12-31T00:00:00Z","createdate":"2026-02-11T20:43:09.606Z","dealname":"New
        Lookup Deal Opportunity","dealstage":"qualifiedtobuy","hs_lastmodifieddate":"2026-02-11T20:43:16.857Z","hs_object_id":"56148767310","pipeline":"default"},"createdAt":"2026-02-11T20:43:09.606Z","updatedAt":"2026-02-11T20:43:16.857Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-3/56148767310"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - e42c34cb-6bbf-4ccc-9e95-fd667289d7d5
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"dealname": "New Lookup Deal Opportunity", "amount": 85000,
      "closedate": "2024-12-31T00:00:00Z", "dealstage": "qualifiedtobuy"}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/deals/56148767310
  response:
    body:
      string: '{"id":"56148767310","properties":{"amount":"85000","amount_in_home_currency":"85000","closedate":"2024-12-31T00:00:00Z","createdate":"2026-02-11T20:43:09.606Z","days_to_close":"0","dealname":"New
        Lookup Deal Opportunity","dealstage":"qualifiedtobuy","hs_actual_duration":"0","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_closed_deal_close_date":"0","hs_closed_deal_create_date":"0","hs_closed_won_count":"0","hs_days_to_close_raw":"0","hs_deal_stage_probability":"0.40000000000000002220446049250313080847263336181640625","hs_deal_stage_probability_shadow":"0.40000000000000002220446049250313080847263336181640625","hs_forecast_amount":"85000","hs_is_closed":"false","hs_is_closed_count":"0","hs_is_closed_won":"false","hs_is_open_count":"1","hs_lastmodifieddate":"2026-02-11T20:58:55.906Z","hs_object_id":"56148767310","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_open_amount_in_home_currency":"85000","hs_open_deal_create_date":"1770842589606","hs_projected_amount":"34000.00000000000188737914186276611872017383575439453125000","hs_projected_amount_in_home_currency":"34000.00000000000188737914186276611872017383575439453125000","hs_v2_date_entered_current_stage":"2026-02-11T20:43:09.606Z","hs_v2_time_in_current_stage":"2026-02-11T20:43:09.606Z","hs_weighted_pipeline_in_company_currency":"34000.00000000000188737914186276611872017383575439453125000","pipeline":"default"},"createdAt":"2026-02-11T20:43:09.606Z","updatedAt":"2026-02-11T20:58:55.906Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-3/56148767310"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 37d4231c-ec39-430b-9ffe-083fc0204fc3
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
