interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["crm.objects.owners.read", "tickets",
        "crm.lists.read", "crm.objects.deals.read", "crm.objects.products.write",
        "crm.objects.orders.read", "sales-email-read", "crm.objects.contacts.read",
        "content", "crm.objects.custom.read", "crm.schemas.orders.read", "crm.objects.companies.write",
        "business-intelligence", "crm.schemas.deals.read", "crm.objects.custom.write",
        "crm.schemas.quotes.read", "crm.objects.companies.read", "crm.schemas.contacts.write",
        "oauth", "conversations.read", "marketing-email", "crm.objects.contacts.write",
        "crm.objects.line_items.read", "crm.objects.marketing_events.write", "crm.schemas.contacts.read",
        "crm.objects.quotes.write", "communication_preferences.write", "crm.schemas.custom.read",
        "communication_preferences.read", "communication_preferences.read_write",
        "crm.schemas.line_items.read", "crm.import", "crm.objects.quotes.read", "crm.objects.marketing_events.read",
        "crm.schemas.companies.read", "crm.pipelines.orders.read", "conversations.write",
        "integration-sync", "crm.objects.products.read", "forms"], "token_use": "access_token",
        "expires_in": 1800}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb04-f4d1-7f2d-99e2-bd9db618fa2c
    status:
      code: 200
      message: OK
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "name", "operator": "EQ",
      "value": "Lookup Tech Solutions"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies/search
  response:
    body:
      string: '{"total":1,"results":[{"id":"51149864021","properties":{"createdate":"2026-02-11T20:44:11.799Z","domain":"lookuptech-updated.com","hs_lastmodifieddate":"2026-02-11T20:44:16.758Z","hs_object_id":"51149864021","name":"Lookup
        Tech Solutions"},"createdAt":"2026-02-11T20:44:11.799Z","updatedAt":"2026-02-11T20:44:16.758Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-2/51149864021"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb04-f602-756f-a234-8e86e6dcb9ac
    status:
      code: 200
      message: OK
- request:
    body: '{"inputs": [{"objectWriteTraceId": "cfc995f80dc398eb22aacb30a5ebc0586000488ea6b1fd10b0604a1a70835a5e",
      "id": "51149864021", "properties": {"name": "Lookup Tech Solutions", "domain":
      "hgi10572-batch-company-lookup-update.example.com", "industry": "FINANCIAL_SERVICES"}}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies/batch/update
  response:
    body:
      string: '{"completedAt":"2026-06-24T19:04:27.307Z","status":"COMPLETE","startedAt":"2026-06-24T19:04:27.183Z","results":[{"id":"51149864021","properties":{"createdate":"2026-02-11T20:44:11.799Z","domain":"hgi10572-batch-company-lookup-update.example.com","hs_lastmodifieddate":"2026-06-24T19:04:27.216Z","hs_object_id":"51149864021","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","hs_task_label":"Lookup
        Tech Solutions","hs_v2_date_entered_current_stage":"2026-02-11T20:44:11.799Z","hs_v2_time_in_current_stage":"2026-02-11T20:44:11.799Z","industry":"FINANCIAL_SERVICES","lifecyclestage":"lead","name":"Lookup
        Tech Solutions"},"createdAt":"2026-02-11T20:44:11.799Z","updatedAt":"2026-06-24T19:04:27.216Z","archived":false,"objectWriteTraceId":"cfc995f80dc398eb22aacb30a5ebc0586000488ea6b1fd10b0604a1a70835a5e","url":"https://app.hubspot.com/contacts/23170316/record/0-2/51149864021"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb04-f724-70c9-ae08-2c96fcb0ca27
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
