interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/objects/contacts/createlist@example.com?idProperty=email&properties=firstname,lastname,email
  response:
    body:
      string: '<html>

        <head>

        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

        <title>Error 404 Not Found</title>

        </head>

        <body><h2>HTTP ERROR 404</h2>

        <p>Resource not found</p>

        </body>

        </html>

        '
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      x-hubspot-correlation-id:
      - f635a554-4a5e-473d-9dd2-60c5b8dd6661
      x-hubspot-notfound:
      - 'true'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '107'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"firstname": "Create", "lastname": "List", "email": "createlist@example.com"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts
  response:
    body:
      string: '{"id":"198861870221","properties":{"createdate":"2026-02-02T22:14:33.859Z","email":"createlist@example.com","firstname":"Create","hs_all_contact_vids":"198861870221","hs_associated_target_accounts":"0","hs_currently_enrolled_in_prospecting_agent":"false","hs_email_domain":"example.com","hs_full_name_or_email":"Create
        List","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"1770070473859","hs_marketable_status":"false","hs_marketable_until_renewal":"false","hs_membership_has_accessed_private_content":"0","hs_object_id":"198861870221","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_prospecting_agent_actively_enrolled_count":"0","hs_prospecting_agent_total_enrolled_count":"0","hs_registered_member":"0","hs_sequences_actively_enrolled_count":"0","hs_v2_date_entered_current_stage":"2026-02-02T22:14:33.859Z","hs_v2_time_in_current_stage":"2026-02-02T22:14:33.859Z","lastmodifieddate":"2026-02-02T22:14:33.859Z","lastname":"List","lifecyclestage":"lead","num_notes":"0"},"createdAt":"2026-02-02T22:14:33.859Z","updatedAt":"2026-02-02T22:14:33.859Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/198861870221"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/contacts/198861870221
      x-hubspot-correlation-id:
      - 722edbf0-1088-4b91-b51a-654ce355e947
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '106'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/lists/object-type-id/0-1/name/Brand%20New%20List
  response:
    body:
      string: '{"status":"error","message":"List does not exist with name Brand New
        List and object type ID 0-1.","correlationId":"0be02119-e532-434a-b918-ea522396b722","context":{"listName":["Brand
        New List"],"objectTypeId":["0-1"]},"category":"OBJECT_NOT_FOUND","subCategory":"ListError.LIST_NAME_DOES_NOT_EXIST"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 0be02119-e532-434a-b918-ea522396b722
      x-hubspot-notfound:
      - 'true'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '106'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"name": "Brand New List", "objectTypeId": "0-1", "processingType": "MANUAL"}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/lists
  response:
    body:
      string: '{"list":{"listId":"31","listVersion":1,"createdAt":"2026-02-02T22:14:34.867Z","updatedAt":"2026-02-02T22:14:34.867Z","filtersUpdatedAt":"2026-02-02T22:14:34.867Z","processingStatus":"COMPLETE","createdById":"11017171","updatedById":"11017171","processingType":"MANUAL","objectTypeId":"0-1","name":"Brand
        New List","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - c6cc16bd-e0c9-4e49-93a8-419688316cd8
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '105'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/lists/31/memberships/join-order
  response:
    body:
      string: '{"results":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - aea553a3-466d-419f-bbbb-7f1d5474afa4
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '104'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"recordIdsToRemove": [], "recordIdsToAdd": ["198861870221"], "listId":
      "31"}'
    headers:
      Content-Type:
      - a
    method: PUT
    uri: https://api.hubapi.com/crm/v3/lists/31/memberships/add-and-remove
  response:
    body:
      string: '{"recordsIdsAdded":["198861870221"]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 23856867-0de5-4b41-b2f3-5ec0678c3c8e
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '103'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
