interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"dealname": "Test Deal for Associations", "amount": 50000,
      "pipeline": null, "priority": null}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/deals
  response:
    body:
      string: '{"id":"55410676659","properties":{"amount":"50000","amount_in_home_currency":"50000","createdate":"2026-02-02T22:40:31.160Z","days_to_close":"0","deal_currency_code":"USD","dealname":"Test
        Deal for Associations","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_closed_won_count":"0","hs_createdate":"2026-02-02T22:40:31.160Z","hs_days_to_close_raw":"0","hs_deal_stage_probability_shadow":"0","hs_forecast_amount":"50000","hs_has_last_meeting_followups":"false","hs_is_closed_lost":"false","hs_is_closed_won":"false","hs_is_deal_split":"false","hs_lastmodifieddate":"2026-02-02T22:40:31.160Z","hs_num_associated_active_deal_registrations":"0","hs_num_associated_deal_registrations":"0","hs_num_associated_deal_splits":"0","hs_num_of_associated_line_items":"0","hs_num_target_accounts":"0","hs_number_of_call_engagements":"0","hs_number_of_inbound_calls":"0","hs_number_of_outbound_calls":"0","hs_number_of_overdue_tasks":"0","hs_object_id":"55410676659","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0","num_associated_contacts":"0","num_notes":"0","pipeline":null},"createdAt":"2026-02-02T22:40:31.160Z","updatedAt":"2026-02-02T22:40:31.160Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-3/55410676659"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/deals/55410676659
      x-hubspot-correlation-id:
      - ffacdda2-265a-4fc7-b566-3e0bb9da4177
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '103'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
