interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"hs_timestamp": "2024-01-22T17:00:00Z", "hs_task_body":
      null, "hs_task_subject": "Task to Delete", "hs_task_status": "COMPLETED", "hs_task_priority":
      null}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/tasks/103050305801
  response:
    body:
      string: '{"id":"103050305801","properties":{"hs_createdate":"2026-02-02T17:00:05.477Z","hs_engagements_last_contacted":"2024-01-22T17:00:00Z","hs_lastmodifieddate":"2026-02-02T22:40:03.226Z","hs_obj_coords":"0-27-103050305801","hs_object_id":"103050305801","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"3d314325-1b2a-4225-9388-375f49c57ec3","hs_pipeline_stage":"61bafb31-e7fa-46ed-aaa9-1322438d6e67","hs_start_date_with_fallback":"2026-02-02T17:00:05.477Z","hs_task_completion_count":"1","hs_task_completion_date":"2026-02-02T22:40:03.226Z","hs_task_is_completed":"1","hs_task_is_completed_call":"0","hs_task_is_completed_email":"0","hs_task_is_completed_linked_in":"0","hs_task_is_completed_sequence":"0","hs_task_is_open":"false","hs_task_is_overdue":"false","hs_task_is_past_due_date":"true","hs_task_missed_due_date":"true","hs_task_missed_due_date_count":"1","hs_task_status":"COMPLETED","hs_task_subject":"Task
        to Delete","hs_task_type":"TODO","hs_timestamp":"2024-01-22T17:00:00Z"},"createdAt":"2026-02-02T17:00:05.477Z","updatedAt":"2026-02-02T22:40:03.226Z","archived":false,"url":"https://app.hubspot.com/tasks/23170316/view/all/task/103050305801"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - a1ee5d7b-d8e2-46af-b778-d6cdc395de31
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
