interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["crm.objects.owners.read", "tickets",
        "crm.lists.read", "crm.objects.deals.read", "crm.objects.products.write",
        "crm.objects.orders.read", "sales-email-read", "crm.objects.contacts.read",
        "content", "crm.objects.custom.read", "crm.schemas.orders.read", "crm.objects.companies.write",
        "business-intelligence", "crm.schemas.deals.read", "crm.objects.custom.write",
        "crm.schemas.quotes.read", "crm.objects.companies.read", "crm.schemas.contacts.write",
        "oauth", "conversations.read", "marketing-email", "crm.objects.contacts.write",
        "crm.objects.line_items.read", "crm.objects.marketing_events.write", "crm.schemas.contacts.read",
        "crm.objects.quotes.write", "communication_preferences.write", "crm.schemas.custom.read",
        "communication_preferences.read", "communication_preferences.read_write",
        "crm.schemas.line_items.read", "crm.import", "crm.objects.quotes.read", "crm.objects.marketing_events.read",
        "crm.schemas.companies.read", "crm.pipelines.orders.read", "conversations.write",
        "integration-sync", "crm.objects.products.read", "forms"], "token_use": "access_token",
        "expires_in": 1800}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb05-251d-778a-a011-d0cdee5745ec
    status:
      code: 200
      message: OK
- request:
    body: '{"inputs": [{"objectWriteTraceId": "e104c5097c0cab78a4226c20a04a30f76dc05e85794ee88ef9e77c17671e9d84",
      "id": "55983800892", "properties": {"name": "HGI10572 Batch Company Upsert V2",
      "domain": "hgi10572-batch-mixed-update.example.com"}}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies/batch/update
  response:
    body:
      string: '{"completedAt":"2026-06-24T19:04:39.403Z","status":"COMPLETE","startedAt":"2026-06-24T19:04:39.271Z","results":[{"id":"55983800892","properties":{"createdate":"2026-06-24T19:03:26.395Z","domain":"hgi10572-batch-mixed-update.example.com","hs_lastmodifieddate":"2026-06-24T19:04:39.288Z","hs_object_id":"55983800892","hs_object_source":"INTEGRATION","hs_object_source_id":"1149586","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","hs_task_label":"HGI10572
        Batch Company Upsert V2","hs_v2_date_entered_current_stage":"2026-06-24T19:03:26.395Z","hs_v2_time_in_current_stage":"2026-06-24T19:03:26.395Z","lifecyclestage":"lead","name":"HGI10572
        Batch Company Upsert V2"},"createdAt":"2026-06-24T19:03:26.395Z","updatedAt":"2026-06-24T19:04:39.288Z","archived":false,"objectWriteTraceId":"e104c5097c0cab78a4226c20a04a30f76dc05e85794ee88ef9e77c17671e9d84","url":"https://app.hubspot.com/contacts/23170316/record/0-2/55983800892"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb05-2653-7070-9f09-be67f493a0b0
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: '{"inputs": [{"objectWriteTraceId": "19aa06f900deb3a6e1dc6bc812410dcd2160ac956df2f5d6b24ebe81a230a59c",
      "id": "HGI10572-Batch-Mixed-Upsert-Co", "idProperty": "name", "properties":
      {"name": "HGI10572-Batch-Mixed-Upsert-Co", "domain": "hgi10572-batch-mixed-upsert.example.com"}}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies/batch/upsert
  response:
    body:
      string: '{"status":"error","message":"Unable to perform update/upsert by non-unique
        0-2 property name in portal ID 23170316","correlationId":"019efb05-27fd-7515-94bc-7abba6ad8ee4","category":"VALIDATION_ERROR"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb05-27fd-7515-94bc-7abba6ad8ee4
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '107'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"properties": {"name": "HGI10572-Batch-Mixed-Upsert-Co", "domain": "hgi10572-batch-mixed-upsert.example.com"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies
  response:
    body:
      string: '{"id":"55980663969","properties":{"createdate":"2026-06-24T19:04:40.404Z","domain":"hgi10572-batch-mixed-upsert.example.com","hs_annual_revenue_currency_code":"USD","hs_lastmodifieddate":"2026-06-24T19:04:40.404Z","hs_num_active_contracts":"0","hs_num_blockers":"0","hs_num_child_companies":"0","hs_num_contacts_with_buying_roles":"0","hs_num_decision_makers":"0","hs_num_open_deals":"0","hs_object_id":"55980663969","hs_object_source":"INTEGRATION","hs_object_source_id":"1149586","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","hs_task_label":"HGI10572-Batch-Mixed-Upsert-Co","hs_v2_date_entered_current_stage":"2026-06-24T19:04:40.404Z","hs_v2_time_in_current_stage":"2026-06-24T19:04:40.404Z","lifecyclestage":"lead","name":"HGI10572-Batch-Mixed-Upsert-Co","num_associated_contacts":"0","num_notes":"0","website":"hgi10572-batch-mixed-upsert.example.com"},"createdAt":"2026-06-24T19:04:40.404Z","updatedAt":"2026-06-24T19:04:40.404Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-2/55980663969"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/companies/55980663969
      x-hubspot-correlation-id:
      - 019efb05-2abc-7ec5-b67e-1038e5f84b3c
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '106'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
- request:
    body: '{"inputs": [{"objectWriteTraceId": "e4e9048294d5532d9e5056aef976be982d3a13d3c24823768b98df14ac5a754a",
      "properties": {"domain": "hgi10572-batch-mixed-create-only.example.com"}}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies/batch/create
  response:
    body:
      string: '{"completedAt":"2026-06-24T19:04:40.966Z","status":"COMPLETE","startedAt":"2026-06-24T19:04:40.762Z","results":[{"id":"559800[...]
