interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "name", "operator": "EQ",
      "value": "Lookup Tech Solutions"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies/search
  response:
    body:
      string: '{"total":0,"results":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - f8721fee-a0ef-4e2a-bf4c-3095d92045c6
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"name": "Lookup Tech Solutions", "website": "https://lookuptech-updated.com",
      "industry": "FINANCIAL_SERVICES"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies
  response:
    body:
      string: '{"id":"51149864021","properties":{"createdate":"2026-02-11T20:44:11.799Z","domain":"lookuptech-updated.com","hs_annual_revenue_currency_code":"USD","hs_lastmodifieddate":"2026-02-11T20:44:11.799Z","hs_num_blockers":"0","hs_num_child_companies":"0","hs_num_contacts_with_buying_roles":"0","hs_num_decision_makers":"0","hs_num_open_deals":"0","hs_object_id":"51149864021","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","hs_task_label":"Lookup
        Tech Solutions","hs_v2_date_entered_current_stage":"2026-02-11T20:44:11.799Z","hs_v2_time_in_current_stage":"2026-02-11T20:44:11.799Z","industry":"FINANCIAL_SERVICES","lifecyclestage":"lead","name":"Lookup
        Tech Solutions","num_associated_contacts":"0","num_notes":"0","website":"https://lookuptech-updated.com"},"createdAt":"2026-02-11T20:44:11.799Z","updatedAt":"2026-02-11T20:44:11.799Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-2/51149864021"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/companies/51149864021
      x-hubspot-correlation-id:
      - be5d4284-9b34-4e4e-beff-16df03b6db88
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
