interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/objects/contacts/subscribe@example.com?idProperty=email&properties=firstname,lastname,email
  response:
    body:
      string: '<html>

        <head>

        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

        <title>Error 404 Not Found</title>

        </head>

        <body><h2>HTTP ERROR 404</h2>

        <p>Resource not found</p>

        </body>

        </html>

        '
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      x-hubspot-correlation-id:
      - 93a178fb-4867-4e15-9889-da72e1926d31
      x-hubspot-notfound:
      - 'true'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '103'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"firstname": "Subscribe", "lastname": "Test", "email":
      "subscribe@example.com"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts
  response:
    body:
      string: '{"id":"198785071115","properties":{"createdate":"2026-02-02T22:40:24.357Z","email":"subscribe@example.com","firstname":"Subscribe","hs_all_contact_vids":"198785071115","hs_associated_target_accounts":"0","hs_currently_enrolled_in_prospecting_agent":"false","hs_email_domain":"example.com","hs_full_name_or_email":"Subscribe
        Test","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"1770072024357","hs_marketable_status":"false","hs_marketable_until_renewal":"false","hs_membership_has_accessed_private_content":"0","hs_object_id":"198785071115","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_prospecting_agent_actively_enrolled_count":"0","hs_prospecting_agent_total_enrolled_count":"0","hs_registered_member":"0","hs_sequences_actively_enrolled_count":"0","hs_v2_date_entered_current_stage":"2026-02-02T22:40:24.357Z","hs_v2_time_in_current_stage":"2026-02-02T22:40:24.357Z","lastmodifieddate":"2026-02-02T22:40:24.357Z","lastname":"Test","lifecyclestage":"lead","num_notes":"0"},"createdAt":"2026-02-02T22:40:24.357Z","updatedAt":"2026-02-02T22:40:24.357Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/198785071115"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/contacts/198785071115
      x-hubspot-correlation-id:
      - 02b5f86b-3ac7-4060-844c-88b82fd907fa
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '102'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/lists/object-type-id/0-1/name/Test%20List
  response:
    body:
      string: '{"status":"error","message":"List does not exist with name Test List
        and object type ID 0-1.","correlationId":"3a934efc-541a-42cc-ba2c-548d854556d4","context":{"listName":["Test
        List"],"objectTypeId":["0-1"]},"category":"OBJECT_NOT_FOUND","subCategory":"ListError.LIST_NAME_DOES_NOT_EXIST"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 3a934efc-541a-42cc-ba2c-548d854556d4
      x-hubspot-notfound:
      - 'true'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '101'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"name": "Test List", "objectTypeId": "0-1", "processingType": "MANUAL"}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/lists
  response:
    body:
      string: '{"list":{"listId":"33","listVersion":1,"createdAt":"2026-02-02T22:40:25.295Z","updatedAt":"2026-02-02T22:40:25.295Z","filtersUpdatedAt":"2026-02-02T22:40:25.295Z","processingStatus":"COMPLETE","createdById":"11017171","updatedById":"11017171","processingType":"MANUAL","objectTypeId":"0-1","name":"Test
        List","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - fb9850a7-b3ad-4753-a889-957667f45770
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '100'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/lists/33/memberships/join-order
  response:
    body:
      string: '{"results":[],"total":0}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - d46cbc31-9d17-40e5-9ffc-7d5ebc6750f0
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '99'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '9'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"recordIdsToRemove": [], "recordIdsToAdd": ["198785071115"], "listId":
      "33"}'
    headers:
      Content-Type:
      - a
    method: PUT
    uri: https://api.hubapi.com/crm/v3/lists/33/memberships/add-and-remove
  response:
    body:
      string: '{"recordsIdsAdded":["198785071115"]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 5c5edeca-7c70-4e89-b122-e2e003d594a6
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '98'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '9'
    status:
      code: 200
      message: OK
version: 1
