interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"name": "Test Company for Associations", "domain": "https://updated-assoc.com",
      "industry": "COMPUTER_SOFTWARE"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies
  response:
    body:
      string: '{"id":"50509628999","properties":{"createdate":"2026-02-02T20:46:15.845Z","domain":"https://updated-assoc.com","hs_annual_revenue_currency_code":"USD","hs_lastmodifieddate":"2026-02-02T20:46:15.845Z","hs_num_blockers":"0","hs_num_child_companies":"0","hs_num_contacts_with_buying_roles":"0","hs_num_decision_makers":"0","hs_num_open_deals":"0","hs_object_id":"50509628999","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","hs_task_label":"Test
        Company for Associations","hs_v2_date_entered_current_stage":"2026-02-02T20:46:15.845Z","hs_v2_time_in_current_stage":"2026-02-02T20:46:15.845Z","industry":"COMPUTER_SOFTWARE","lifecyclestage":"lead","name":"Test
        Company for Associations","num_associated_contacts":"0","num_notes":"0","website":"https://updated-assoc.com"},"createdAt":"2026-02-02T20:46:15.845Z","updatedAt":"2026-02-02T20:46:15.845Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-2/50509628999"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/companies/50509628999
      x-hubspot-correlation-id:
      - b1b034b9-88f9-4d7b-992b-019ef27e54b9
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '103'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
