interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["crm.objects.owners.read", "tickets",
        "crm.lists.read", "crm.objects.deals.read", "crm.objects.products.write",
        "crm.objects.orders.read", "sales-email-read", "crm.objects.contacts.read",
        "content", "crm.objects.custom.read", "crm.schemas.orders.read", "crm.objects.companies.write",
        "business-intelligence", "crm.schemas.deals.read", "crm.objects.custom.write",
        "crm.schemas.quotes.read", "crm.objects.companies.read", "crm.schemas.contacts.write",
        "oauth", "conversations.read", "marketing-email", "crm.objects.contacts.write",
        "crm.objects.line_items.read", "crm.objects.marketing_events.write", "crm.schemas.contacts.read",
        "crm.objects.quotes.write", "communication_preferences.write", "crm.schemas.custom.read",
        "communication_preferences.read", "communication_preferences.read_write",
        "crm.schemas.line_items.read", "crm.import", "crm.objects.quotes.read", "crm.objects.marketing_events.read",
        "crm.schemas.companies.read", "crm.pipelines.orders.read", "conversations.write",
        "integration-sync", "crm.objects.products.read", "forms"], "token_use": "access_token",
        "expires_in": 1800}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb07-a915-7643-89bd-7c350b2c5d1c
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"firstname": "Batch", "lastname": "NoEmailFallback"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts
  response:
    body:
      string: '{"id":"230922532445","properties":{"createdate":"2026-06-24T19:07:24.143Z","firstname":"Batch","hs_all_contact_vids":"230922532445","hs_associated_target_accounts":"0","hs_currently_enrolled_in_prospecting_agent":"false","hs_full_name_or_email":"Batch
        NoEmailFallback","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"1782328044143","hs_marketable_status":"false","hs_marketable_until_renewal":"false","hs_membership_has_accessed_private_content":"0","hs_num_active_contracts":"0","hs_num_associated_open_deals":"0","hs_object_id":"230922532445","hs_object_source":"INTEGRATION","hs_object_source_id":"1149586","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_prospecting_agent_actively_enrolled_count":"0","hs_prospecting_agent_total_enrolled_count":"0","hs_registered_member":"0","hs_sequences_actively_enrolled_count":"0","hs_v2_date_entered_current_stage":"2026-06-24T19:07:24.143Z","hs_v2_time_in_current_stage":"2026-06-24T19:07:24.143Z","lastmodifieddate":"2026-06-24T19:07:24.143Z","lastname":"NoEmailFallback","lifecyclestage":"lead","num_notes":"0"},"createdAt":"2026-06-24T19:07:24.143Z","updatedAt":"2026-06-24T19:07:24.143Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/230922532445"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/contacts/230922532445
      x-hubspot-correlation-id:
      - 019efb07-aa48-750e-b98e-7fcd3f952e23
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
