interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["crm.objects.owners.read", "tickets",
        "crm.lists.read", "crm.objects.deals.read", "crm.objects.products.write",
        "crm.objects.orders.read", "sales-email-read", "crm.objects.contacts.read",
        "content", "crm.objects.custom.read", "crm.schemas.orders.read", "crm.objects.companies.write",
        "business-intelligence", "crm.schemas.deals.read", "crm.objects.custom.write",
        "crm.schemas.quotes.read", "crm.objects.companies.read", "crm.schemas.contacts.write",
        "oauth", "conversations.read", "marketing-email", "crm.objects.contacts.write",
        "crm.objects.line_items.read", "crm.objects.marketing_events.write", "crm.schemas.contacts.read",
        "crm.objects.quotes.write", "communication_preferences.write", "crm.schemas.custom.read",
        "communication_preferences.read", "communication_preferences.read_write",
        "crm.schemas.line_items.read", "crm.import", "crm.objects.quotes.read", "crm.objects.marketing_events.read",
        "crm.schemas.companies.read", "crm.pipelines.orders.read", "conversations.write",
        "integration-sync", "crm.objects.products.read", "forms"], "token_use": "access_token",
        "expires_in": 1800}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019f3e9d-b372-7421-982f-b4d3fde3c5ea
    status:
      code: 200
      message: OK
- request:
    body: '{"inputs": [{"objectWriteTraceId": "9da1f968f15c9fa063da9b09a26d138ef65a95476aa11441a8c01ab5250b09e1",
      "id": "56503292710", "properties": {"name": "HGI10681 Smoke Stale Fallback",
      "domain": "hgi10681-smoke-primary.example.com", "industry": "COMPUTER_SOFTWARE"}},
      {"objectWriteTraceId": "29e4897291ecff76c5bfce6605de5e2588149a47e8270de0a185d910a1e5bc8d",
      "id": "56515959971", "properties": {"name": "HGI10681 Smoke Control", "domain":
      "hgi10681-smoke-control.example.com", "industry": "COMPUTER_SOFTWARE"}}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies/batch/update
  response:
    body:
      string: '{"completedAt":"2026-07-07T22:05:50.716Z","status":"COMPLETE","startedAt":"2026-07-07T22:05:50.649Z","results":[{"id":"56515959971","properties":{"createdate":"2026-07-07T22:04:28.622Z","domain":"hgi10681-smoke-control.example.com","hs_lastmodifieddate":"2026-07-07T22:05:02.458Z","hs_object_id":"56515959971","hs_object_source":"INTEGRATION","hs_object_source_id":"1149586","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","hs_task_label":"HGI10681
        Smoke Control","hs_v2_date_entered_current_stage":"2026-07-07T22:04:28.622Z","hs_v2_time_in_current_stage":"2026-07-07T22:04:28.622Z","industry":"COMPUTER_SOFTWARE","lifecyclestage":"lead","name":"HGI10681
        Smoke Control"},"createdAt":"2026-07-07T22:04:28.622Z","updatedAt":"2026-07-07T22:05:02.458Z","archived":false,"objectWriteTraceId":"29e4897291ecff76c5bfce6605de5e2588149a47e8270de0a185d910a1e5bc8d","url":"https://app.hubspot.com/contacts/23170316/record/0-2/56515959971"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019f3e9d-b4b0-7d64-87b3-771f157bdd22
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"name": "HGI10681 Smoke Stale Fallback", "domain": "hgi10681-smoke-primary.example.com",
      "industry": "COMPUTER_SOFTWARE"}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/companies/56503292710
  response:
    body:
      string: '{"id":"56514030382","properties":{"createdate":"2026-07-07T22:04:26.519Z","days_to_close":"","domain":"hgi10681-smoke-primary.example.com","hs_lastmodifieddate":"2026-07-07T22:05:03.284Z","hs_object_id":"56514030382","hs_object_source":"INTEGRATION","hs_object_source_id":"1149586","hs_object_source_label":"INTEGRATION","hs_object_source_user_id":"","hs_pipeline":"companies-lifecycle-pipeline","hs_task_label":"HGI10681
        Smoke Stale Fallback","hs_v2_date_entered_current_stage":"2026-07-07T22:04:26.917Z","hs_v2_time_in_current_stage":"2026-07-07T22:04:26.917Z","industry":"COMPUTER_SOFTWARE","lifecyclestage":"lead","name":"HGI10681
        Smoke Stale Fallback"},"createdAt":"2026-07-07T22:04:26.519Z","updatedAt":"2026-07-07T22:05:03.284Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-2/56514030382"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019f3e9d-b949-70c3-b6af-3748091367b3
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
