interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["crm.objects.owners.read", "tickets",
        "crm.lists.read", "crm.objects.deals.read", "crm.objects.products.write",
        "crm.objects.orders.read", "sales-email-read", "crm.objects.contacts.read",
        "content", "crm.objects.custom.read", "crm.schemas.orders.read", "crm.objects.companies.write",
        "business-intelligence", "crm.schemas.deals.read", "crm.objects.custom.write",
        "crm.schemas.quotes.read", "crm.objects.companies.read", "crm.schemas.contacts.write",
        "oauth", "conversations.read", "marketing-email", "crm.objects.contacts.write",
        "crm.objects.line_items.read", "crm.objects.marketing_events.write", "crm.schemas.contacts.read",
        "crm.objects.quotes.write", "communication_preferences.write", "crm.schemas.custom.read",
        "communication_preferences.read", "communication_preferences.read_write",
        "crm.schemas.line_items.read", "crm.import", "crm.objects.quotes.read", "crm.objects.marketing_events.read",
        "crm.schemas.companies.read", "crm.pipelines.orders.read", "conversations.write",
        "integration-sync", "crm.objects.products.read", "forms"], "token_use": "access_token",
        "expires_in": 1800}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb2f-5c26-7e41-8021-0a924eec0a46
    status:
      code: 200
      message: OK
- request:
    body: '{"inputs": [{"objectWriteTraceId": "db144ab02fe9ba3cbdab85bdd14d7c9968629082e242ae4f9eeb21946942e9a1",
      "id": "batch.upsert.v2.smoke@testdomain.com", "idProperty": "email", "properties":
      {"email": "batch.upsert.v2.smoke@testdomain.com", "firstname": "New", "lastname":
      "Contact"}}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts/batch/upsert
  response:
    body:
      string: '{"completedAt":"2026-06-24T19:50:46.045Z","status":"COMPLETE","startedAt":"2026-06-24T19:50:45.876Z","results":[{"id":"230904866819","properties":{"createdate":"2026-06-24T18:50:46.088Z","email":"batch.upsert.v2.smoke@testdomain.com","firstname":"New","hs_full_name_or_email":"New
        Contact","hs_is_contact":"true","hs_is_unworked":"true","hs_object_id":"230904866819","hs_object_source":"INTEGRATION","hs_object_source_id":"1149586","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_v2_date_entered_current_stage":"2026-06-24T18:50:46.088Z","hs_v2_time_in_current_stage":"2026-06-24T18:50:46.088Z","lastmodifieddate":"2026-06-24T19:50:45.926Z","lastname":"Contact","lifecyclestage":"lead"},"createdAt":"2026-06-24T18:50:46.088Z","updatedAt":"2026-06-24T19:50:45.926Z","archived":false,"objectWriteTraceId":"db144ab02fe9ba3cbdab85bdd14d7c9968629082e242ae4f9eeb21946942e9a1","url":"https://app.hubspot.com/contacts/23170316/record/0-1/230904866819","new":false}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb2f-5d64-7210-9458-3ed7ae229aa3
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
