interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "email", "operator": "EQ",
      "value": "charlie.lookup@testdomain.com"}, {"propertyName": "firstname", "operator":
      "EQ", "value": "Charlie"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
  response:
    body:
      string: '{"total":1,"results":[{"id":"201432853328","properties":{"createdate":"2026-02-11T20:42:36.402Z","email":"charlie.lookup@testdomain.com","firstname":"Charlie","hs_object_id":"201432853328","lastmodifieddate":"2026-02-11T20:49:38.664Z","lastname":"Lookup-Updated"},"createdAt":"2026-02-11T20:42:36.402Z","updatedAt":"2026-02-11T20:49:38.664Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/201432853328"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 99f27125-2932-445f-840a-50b79a5c59d1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"email": "charlie.lookup@testdomain.com", "firstname":
      "Charlie", "lastname": "Lookup-Updated-All"}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/contacts/201432853328
  response:
    body:
      string: '{"id":"201432853328","properties":{"createdate":"2026-02-11T20:42:36.402Z","email":"charlie.lookup@testdomain.com","firstname":"Charlie","hs_full_name_or_email":"Charlie
        Lookup-Updated-All","hs_is_contact":"true","hs_is_unworked":"true","hs_object_id":"201432853328","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_v2_date_entered_current_stage":"2026-02-11T20:42:36.402Z","hs_v2_time_in_current_stage":"2026-02-11T20:42:36.402Z","lastmodifieddate":"2026-02-11T20:56:45.424Z","lastname":"Lookup-Updated-All","lifecyclestage":"lead"},"createdAt":"2026-02-11T20:42:36.402Z","updatedAt":"2026-02-11T20:56:45.424Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/201432853328"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 0ed2fd52-5c51-4f8b-9c5b-61831893d5d5
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
