interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"dealname": null, "amount": "not-a-number", "closedate":
      "invalid-date-format"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/deals
  response:
    body:
      string: '{"status":"error","message":"Property values were not valid: [{\"isValid\":false,\"message\":\"not-a-number
        was not a valid number.\",\"error\":\"INVALID_INTEGER\",\"name\":\"amount\",\"localizedErrorMessage\":\"not-a-number
        was not a valid number.\",\"propertyValue\":\"not-a-number\",\"portalId\":23170316},{\"isValid\":false,\"message\":\"invalid-date-format
        was not a valid long. Portal 23170316, object type 0-3\",\"error\":\"INVALID_LONG\",\"name\":\"closedate\",\"localizedErrorMessage\":\"invalid-date-format
        was not a valid long. Portal 23170316, object type 0-3\",\"propertyValue\":\"invalid-date-format\",\"portalId\":23170316}]","correlationId":"e8f96b32-7081-4147-b5de-c74e589bf32e","errors":[{"message":"not-a-number
        was not a valid number.","code":"INVALID_INTEGER","context":{"propertyName":["amount"]}},{"message":"invalid-date-format
        was not a valid long. Portal 23170316, object type 0-3","code":"INVALID_LONG","context":{"propertyName":["closedate"]}}],"category":"VALIDATION_ERROR"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - e8f96b32-7081-4147-b5de-c74e589bf32e
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 400
      message: Bad Request
version: 1
