interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["crm.objects.owners.read", "tickets",
        "crm.lists.read", "crm.objects.deals.read", "crm.objects.products.write",
        "crm.objects.orders.read", "sales-email-read", "crm.objects.contacts.read",
        "content", "crm.objects.custom.read", "crm.schemas.orders.read", "crm.objects.companies.write",
        "business-intelligence", "crm.schemas.deals.read", "crm.objects.custom.write",
        "crm.schemas.quotes.read", "crm.objects.companies.read", "crm.schemas.contacts.write",
        "oauth", "conversations.read", "marketing-email", "crm.objects.contacts.write",
        "crm.objects.line_items.read", "crm.objects.marketing_events.write", "crm.schemas.contacts.read",
        "crm.objects.quotes.write", "communication_preferences.write", "crm.schemas.custom.read",
        "communication_preferences.read", "communication_preferences.read_write",
        "crm.schemas.line_items.read", "crm.import", "crm.objects.quotes.read", "crm.objects.marketing_events.read",
        "crm.schemas.companies.read", "crm.pipelines.orders.read", "conversations.write",
        "integration-sync", "crm.objects.products.read", "forms"], "token_use": "access_token",
        "expires_in": 1800}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb19-7338-704b-afa6-5e1934265d34
    status:
      code: 200
      message: OK
- request:
    body: '{"inputs": [{"objectWriteTraceId": "26ec0141d43e49fc6589e2208b42fb23a254dddf005008651d8af2bd5f023fc2",
      "properties": {"domain": "hgi10572-batch-partial-ok.example.com"}}, {"objectWriteTraceId":
      "5427e118c1a42e6108e932cb584c51682c82261c5bf1787548f655853c6187b7", "properties":
      {"domain": "hgi10572-batch-partial-bad.example.com", "industry": "THISISNOTAREALINDUSTRY"}}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies/batch/create
  response:
    body:
      string: '{"completedAt":"2026-06-24T19:26:50.109Z","status":"COMPLETE","startedAt":"2026-06-24T19:26:49.969Z","results":[{"id":"55984424509","properties":{"createdate":"2026-06-24T19:26:49.994Z","domain":"hgi10572-batch-partial-ok.example.com","hs_annual_revenue_currency_code":"USD","hs_lastmodifieddate":"2026-06-24T19:26:49.994Z","hs_num_active_contracts":"0","hs_num_blockers":"0","hs_num_child_companies":"0","hs_num_contacts_with_buying_roles":"0","hs_num_decision_makers":"0","hs_num_open_deals":"0","hs_object_id":"55984424509","hs_object_source":"INTEGRATION","hs_object_source_id":"1149586","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","hs_task_label":"hgi10572-batch-partial-ok.example.com","hs_v2_date_entered_current_stage":"2026-06-24T19:26:49.994Z","hs_v2_time_in_current_stage":"2026-06-24T19:26:49.994Z","lifecyclestage":"lead","num_associated_contacts":"0","num_notes":"0","website":"hgi10572-batch-partial-ok.example.com"},"createdAt":"2026-06-24T19:26:49.994Z","updatedAt":"2026-06-24T19:26:49.994Z","archived":false,"objectWriteTraceId":"26ec0141d43e49fc6589e2208b42fb23a254dddf005008651d8af2bd5f023fc2","url":"https://app.hubspot.com/contacts/23170316/record/0-2/55984424509"}],"errors":[{"status":"error","category":"VALIDATION_ERROR","message":"Property
        values were not valid: [{\"isValid\":false,\"message\":\"THISISNOTAREALINDUSTRY
        was not one of the allowed options: [ACCOUNTING, AIRLINES_AVIATION, ALTERNATIVE_DISPUTE_RESOLUTION,
        ALTERNATIVE_MEDICINE, ANIMATION, APPAREL_FASHION, ARCHITECTURE_PLANNING, ARTS_AND_CRAFTS,
        AUTOMOTIVE, AVIATION_AEROSPACE, BANKING, BIOTECHNOLOGY, BROADCAST_MEDIA, BUILDING_MATERIALS,
        BUSINESS_SUPPLIES_AND_EQUIPMENT, CAPITAL_MARKETS, CHEMICALS, CIVIC_SOCIAL_ORGANIZATION,
        CIVIL_ENGINEERING, COMMERCIAL_REAL_ESTATE, COM[...]
