interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "email", "operator": "EQ",
      "value": "diana.lookup@testdomain.com"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
  response:
    body:
      string: '{"total":1,"results":[{"id":"201544549259","properties":{"createdate":"2026-02-11T20:44:17.972Z","email":"diana.lookup@testdomain.com","firstname":"Diana-Sequential","hs_object_id":"201544549259","lastmodifieddate":"2026-02-11T20:44:30.891Z","lastname":"Lookup-Sequential"},"createdAt":"2026-02-11T20:44:17.972Z","updatedAt":"2026-02-11T20:44:30.891Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/201544549259"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 9b910986-32e9-42f2-8e19-5ecdddcd4b1f
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"email": "diana.lookup@testdomain.com", "firstname": "Diana-Sequential",
      "lastname": "Lookup-Updated-Sequential"}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/contacts/201544549259
  response:
    body:
      string: '{"id":"201544549259","properties":{"createdate":"2026-02-11T20:44:17.972Z","email":"diana.lookup@testdomain.com","firstname":"Diana-Sequential","hs_full_name_or_email":"Diana-Sequential
        Lookup-Updated-Sequential","hs_is_contact":"true","hs_is_unworked":"true","hs_object_id":"201544549259","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_v2_date_entered_current_stage":"2026-02-11T20:44:17.972Z","hs_v2_time_in_current_stage":"2026-02-11T20:44:17.972Z","lastmodifieddate":"2026-02-11T20:49:44.952Z","lastname":"Lookup-Updated-Sequential","lifecyclestage":"lead"},"createdAt":"2026-02-11T20:44:17.972Z","updatedAt":"2026-02-11T20:49:44.952Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/201544549259"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 45a0b96a-5ccf-4f8f-b9c5-d3d293363f44
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
