interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "email", "operator": "EQ",
      "value": "bob.lookup@testdomain.com"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
  response:
    body:
      string: '{"total":0,"results":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 467c84a4-1c71-481a-b47a-01bfe396e2a2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"email": "bob.lookup@testdomain.com", "firstname": "Bob-Updated",
      "lastname": "Lookup-Updated"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts
  response:
    body:
      string: '{"id":"201396759130","properties":{"createdate":"2026-02-11T20:57:30.165Z","email":"bob.lookup@testdomain.com","firstname":"Bob-Updated","hs_all_contact_vids":"201396759130","hs_associated_target_accounts":"0","hs_currently_enrolled_in_prospecting_agent":"false","hs_email_domain":"testdomain.com","hs_full_name_or_email":"Bob-Updated
        Lookup-Updated","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"1770843450165","hs_marketable_status":"false","hs_marketable_until_renewal":"false","hs_membership_has_accessed_private_content":"0","hs_object_id":"201396759130","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_prospecting_agent_actively_enrolled_count":"0","hs_prospecting_agent_total_enrolled_count":"0","hs_registered_member":"0","hs_sequences_actively_enrolled_count":"0","hs_v2_date_entered_current_stage":"2026-02-11T20:57:30.165Z","hs_v2_time_in_current_stage":"2026-02-11T20:57:30.165Z","lastmodifieddate":"2026-02-11T20:57:30.165Z","lastname":"Lookup-Updated","lifecyclestage":"lead","num_notes":"0"},"createdAt":"2026-02-11T20:57:30.165Z","updatedAt":"2026-02-11T20:57:30.165Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/201396759130"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/contacts/201396759130
      x-hubspot-correlation-id:
      - 9c346194-de77-43e8-a220-ce036d6feb33
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
