interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["crm.objects.owners.read", "tickets",
        "crm.lists.read", "crm.objects.deals.read", "crm.objects.products.write",
        "crm.objects.orders.read", "sales-email-read", "crm.objects.contacts.read",
        "content", "crm.objects.custom.read", "crm.schemas.orders.read", "crm.objects.companies.write",
        "business-intelligence", "crm.schemas.deals.read", "crm.objects.custom.write",
        "crm.schemas.quotes.read", "crm.objects.companies.read", "crm.schemas.contacts.write",
        "oauth", "conversations.read", "marketing-email", "crm.objects.contacts.write",
        "crm.objects.line_items.read", "crm.objects.marketing_events.write", "crm.schemas.contacts.read",
        "crm.objects.quotes.write", "communication_preferences.write", "crm.schemas.custom.read",
        "communication_preferences.read", "communication_preferences.read_write",
        "crm.schemas.line_items.read", "crm.import", "crm.objects.quotes.read", "crm.objects.marketing_events.read",
        "crm.schemas.companies.read", "crm.pipelines.orders.read", "conversations.write",
        "integration-sync", "crm.objects.products.read", "forms"], "token_use": "access_token",
        "expires_in": 1800}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb2f-90fc-7dd7-830a-73aabe3cfeba
    status:
      code: 200
      message: OK
- request:
    body: '{"inputs": [{"objectWriteTraceId": "c6090d90f0cea139b5eaf5f70963e33067fab591a7b9683de6ed4dca540b069b",
      "id": "batch.assoc.v2.smoke@testdomain.com", "idProperty": "email", "properties":
      {"email": "batch.assoc.v2.smoke@testdomain.com", "firstname": "Batch", "lastname":
      "Association"}}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts/batch/upsert
  response:
    body:
      string: '{"completedAt":"2026-06-24T19:50:59.457Z","status":"COMPLETE","startedAt":"2026-06-24T19:50:59.353Z","results":[{"id":"230896942496","properties":{"createdate":"2026-06-24T19:05:57.633Z","email":"batch.assoc.v2.smoke@testdomain.com","firstname":"Batch","hs_full_name_or_email":"Batch
        Association","hs_is_unworked":"true","hs_object_id":"230896942496","hs_object_source":"INTEGRATION","hs_object_source_id":"1149586","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_v2_date_entered_current_stage":"2026-06-24T19:05:57.633Z","hs_v2_time_in_current_stage":"2026-06-24T19:05:57.633Z","lastmodifieddate":"2026-06-24T19:13:04.636Z","lastname":"Association","lifecyclestage":"lead"},"createdAt":"2026-06-24T19:05:57.633Z","updatedAt":"2026-06-24T19:13:04.636Z","archived":false,"objectWriteTraceId":"c6090d90f0cea139b5eaf5f70963e33067fab591a7b9683de6ed4dca540b069b","url":"https://app.hubspot.com/contacts/23170316/record/0-1/230896942496","new":false}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 019efb2f-9212-7ce3-a8f1-115513303399
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: '[{"associationCategory": "HUBSPOT_DEFINED", "associationTypeId": 279}]'
    headers:
      Content-Type:
      - a
    method: PUT
    uri: https://api.hubapi.com/crm/v4/objects/contacts/230896942496/associations/companies/50349449041
  response:
    body:
      string: '{"fromObjectTypeId":"0-1","fromObjectId":230896942496,"toObjectTypeId":"0-2","toObjectId":50349449041,"labels":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v4/contacts/230896942496/associations/companies/50349449041/230896942496
      x-hubspot-correlation-id:
      - 019efb2f-935f-7aa8-bb3f-094943a16d07
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '107'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
