interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"dealname": "New Deal with Contact", "amount": 100000,
      "pipeline": null, "priority": null}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/deals
  response:
    body:
      string: '{"id":"55417268554","properties":{"amount":"100000","amount_in_home_currency":"100000","createdate":"2026-02-02T22:14:22.832Z","days_to_close":"0","deal_currency_code":"USD","dealname":"New
        Deal with Contact","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_closed_won_count":"0","hs_createdate":"2026-02-02T22:14:22.832Z","hs_days_to_close_raw":"0","hs_deal_stage_probability_shadow":"0","hs_forecast_amount":"100000","hs_has_last_meeting_followups":"false","hs_is_closed_lost":"false","hs_is_closed_won":"false","hs_is_deal_split":"false","hs_lastmodifieddate":"2026-02-02T22:14:22.832Z","hs_num_associated_active_deal_registrations":"0","hs_num_associated_deal_registrations":"0","hs_num_associated_deal_splits":"0","hs_num_of_associated_line_items":"0","hs_num_target_accounts":"0","hs_number_of_call_engagements":"0","hs_number_of_inbound_calls":"0","hs_number_of_outbound_calls":"0","hs_number_of_overdue_tasks":"0","hs_object_id":"55417268554","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0","num_associated_contacts":"0","num_notes":"0","pipeline":null},"createdAt":"2026-02-02T22:14:22.832Z","updatedAt":"2026-02-02T22:14:22.832Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-3/55417268554"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/deals/55417268554
      x-hubspot-correlation-id:
      - 21c217dc-d1cb-4570-8702-f153d2219d1d
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/objects/contacts/jane.smith@example.com?idProperty=email
  response:
    body:
      string: '{"id":"189429067676","properties":{"createdate":"2025-12-31T16:29:06.609Z","email":"jane.smith@example.com","firstname":"Jane","hs_object_id":"189429067676","lastmodifieddate":"2026-02-02T17:01:05.563Z","lastname":"Smith"},"createdAt":"2025-12-31T16:29:06.609Z","updatedAt":"2026-02-02T17:01:05.563Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/189429067676"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 3dd290dd-a6ce-44bb-a4b4-bc35683270f3
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '107'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v4/associations/deals/contacts/labels
  response:
    body:
      string: '{"results":[{"category":"HUBSPOT_DEFINED","typeId":3,"label":null}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 78d17c36-8604-4ad5-a21c-0a10976e797e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"associationCategory": "HUBSPOT_DEFINED", "associationTypeId": 3}]'
    headers:
      Content-Type:
      - a
    method: PUT
    uri: https://api.hubapi.com/crm/v4/objects/deals/55417268554/associations/contact/189429067676
  response:
    body:
      string: '{"fromObjectTypeId":"0-3","fromObjectId":55417268554,"toObjectTypeId":"0-1","toObjectId":189429067676,"labels":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v4/deals/55417268554/associations/contact/189429067676/55417268554
      x-hubspot-correlation-id:
      - 882536f7-a3f1-43b9-ae5c-c80a230117a2
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '105'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
