interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "name", "operator": "EQ",
      "value": "New Lookup Company"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies/search
  response:
    body:
      string: '{"total":1,"results":[{"id":"51218040393","properties":{"createdate":"2026-02-11T20:44:01.299Z","domain":"newlookup.com","hs_lastmodifieddate":"2026-02-11T20:49:55.106Z","hs_object_id":"51218040393","name":"New
        Lookup Company"},"createdAt":"2026-02-11T20:44:01.299Z","updatedAt":"2026-02-11T20:49:55.106Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-2/51218040393"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 06d86b24-cb2f-45c5-889f-12378b031729
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"name": "New Lookup Company", "website": "https://newlookup-updated.com",
      "industry": "RETAIL"}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/companies/51218040393
  response:
    body:
      string: '{"id":"51218040393","properties":{"createdate":"2026-02-11T20:44:01.299Z","domain":"newlookup.com","hs_lastmodifieddate":"2026-02-11T20:49:55.106Z","hs_object_id":"51218040393","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","hs_task_label":"New
        Lookup Company","hs_v2_date_entered_current_stage":"2026-02-11T20:44:01.299Z","hs_v2_time_in_current_stage":"2026-02-11T20:44:01.299Z","industry":"RETAIL","lifecyclestage":"lead","name":"New
        Lookup Company","website":"https://newlookup-updated.com"},"createdAt":"2026-02-11T20:44:01.299Z","updatedAt":"2026-02-11T20:49:55.106Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-2/51218040393"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - c8c0b772-9a39-45f7-b2e3-6654fb8135c2
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
