interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "email", "operator": "EQ",
      "value": "malformed@example.com"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
  response:
    body:
      string: '{"total":0,"results":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - cb2adcc4-13f4-4962-9423-a8b283ca8e7e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"email": "malformed@example.com"}, "associations": [[]]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts
  response:
    body:
      string: '{"status":"error","message":"Invalid input JSON on line 1, column 69:
        Cannot deserialize value of type `com.hubspot.crmpublic.core.models.associations.PublicAssociationsForObject$Json`
        from Array value (token `JsonToken.START_ARRAY`)","correlationId":"aabd0c6f-2e8e-4fae-86bc-f068ff801ac3"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - aabd0c6f-2e8e-4fae-86bc-f068ff801ac3
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 400
      message: Bad Request
version: 1
