interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "name", "operator": "EQ",
      "value": "Test Company for Notes Act FRUnique"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies/search
  response:
    body:
      string: '{"total":1,"results":[{"id":"50343238019","properties":{"createdate":"2026-02-02T16:29:07.014Z","domain":"https://test-notes.com","hs_lastmodifieddate":"2026-02-02T20:42:25.791Z","hs_object_id":"50343238019","name":"Test
        Company for Notes Act FRUnique"},"createdAt":"2026-02-02T16:29:07.014Z","updatedAt":"2026-02-02T20:42:25.791Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-2/50343238019"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 7b8e4525-e37b-44ed-be44-65763fe04a90
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "dealname", "operator":
      "EQ", "value": "Test Deal for Notes FRUnique"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/deals/search
  response:
    body:
      string: '{"total":1,"results":[{"id":"55399075223","properties":{"amount":"70000","closedate":"2024-12-31T00:00:00Z","createdate":"2026-02-02T16:29:10.452Z","dealname":"Test
        Deal for Notes FRUnique","dealstage":"qualifiedtobuy","hs_lastmodifieddate":"2026-02-02T20:42:26.244Z","hs_object_id":"55399075223","pipeline":"default"},"createdAt":"2026-02-02T16:29:10.452Z","updatedAt":"2026-02-02T20:42:26.244Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-3/55399075223"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 75b26b4a-6d5d-48d2-bbb9-be41511f8ffc
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"hs_timestamp": 1705312800000, "hs_note_body": "This is
      a new test note", "hubspot_owner_id": 189429067676}, "associations": [{"to":
      {"id": "50343238019"}, "types": [{"associationCategory": "HUBSPOT_DEFINED",
      "associationTypeId": 190}]}, {"to": {"id": "55399075223"}, "types": [{"associationCategory":
      "HUBSPOT_DEFINED", "associationTypeId": 214}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/notes
  response:
    body:
      string: '{"status":"error","message":"Property values were not valid: [{\"isValid\":false,\"message\":\"189429067676
        was not a valid integer (for owner ID).\",\"error\":\"INVALID_INTEGER\",\"name\":\"hubspot_owner_id\",\"localizedErrorMessage\":\"189429067676
        was not a valid integer (for owner ID).\",\"portalId\":23170316}]","correlationId":"5810b44d-c30e-429f-af98-328cf8e2db39","errors":[{"message":"189429067676
        was not a valid integer (for owner ID).","code":"INVALID_INTEGER","context":{"propertyName":["hubspot_owner_id"]}}],"category":"VALIDATION_ERROR"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 5810b44d-c30e-429f-af98-328cf8e2db39
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 400
      message: Bad Request
version: 1
