interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "email", "operator": "EQ",
      "value": "invalid@example.com"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
  response:
    body:
      string: '{"total":1,"results":[{"id":"198835114517","properties":{"createdate":"2026-02-02T20:46:08.411Z","email":"invalid@example.com","firstname":"Invalid","hs_object_id":"198835114517","lastmodifieddate":"2026-02-02T20:53:10.286Z","lastname":null},"createdAt":"2026-02-02T20:46:08.411Z","updatedAt":"2026-02-02T20:53:10.286Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/198835114517"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - b3a72f41-946b-4318-9acd-04e23c0c6aa3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"email": "invalid@example.com", "firstname": "Invalid",
      "lastname": "Association"}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/contacts/198835114517
  response:
    body:
      string: '{"id":"198835114517","properties":{"createdate":"2026-02-02T20:46:08.411Z","email":"invalid@example.com","firstname":"Invalid","hs_full_name_or_email":"Invalid
        Association","hs_is_contact":"true","hs_is_unworked":"true","hs_object_id":"198835114517","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_v2_date_entered_current_stage":"2026-02-02T20:46:08.411Z","hs_v2_time_in_current_stage":"2026-02-02T20:46:08.411Z","lastmodifieddate":"2026-02-02T23:03:34.823Z","lastname":"Association","lifecyclestage":"lead"},"createdAt":"2026-02-02T20:46:08.411Z","updatedAt":"2026-02-02T23:03:34.823Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/198835114517"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 77898d87-fecd-482d-aa62-857ebb5a943d
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
