interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "email", "operator": "EQ",
      "value": "not-an-email"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
  response:
    body:
      string: '{"total":0,"results":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 585b3d6c-8801-4343-94f6-8fcc611796be
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"firstname": 12345, "email": "not-an-email"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts
  response:
    body:
      string: '{"status":"error","message":"Property values were not valid: [{\"isValid\":false,\"message\":\"Email
        address not-an-email is invalid\",\"error\":\"INVALID_EMAIL\",\"name\":\"email\"}]","correlationId":"5e5c1265-d835-4e78-941b-f330ad39405e","errors":[{"message":"Email
        address not-an-email is invalid","code":"INVALID_EMAIL","context":{"propertyName":["email"]}}],"category":"VALIDATION_ERROR"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 5e5c1265-d835-4e78-941b-f330ad39405e
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 400
      message: Bad Request
version: 1
