interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"hs_timestamp": "2024-01-15T10:30:00Z", "hs_call_title":
      "Sales Call", "hubspot_owner_id": null, "hs_call_duration": 300000, "hs_call_direction":
      "OUTBOUND", "hs_call_recording_url": null, "hs_call_status": "COMPLETED"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/calls
  response:
    body:
      string: '{"id":"103084509597","properties":{"hs_call_direction":"OUTBOUND","hs_call_duration":"300000","hs_call_recording_url":null,"hs_call_status":"COMPLETED","hs_call_title":"Sales
        Call","hs_connected_count":"0","hs_createdate":"2026-02-02T22:14:44.671Z","hs_engagements_last_contacted":"2024-01-15T10:30:00Z","hs_lastmodifieddate":"2026-02-02T22:14:44.671Z","hs_obj_coords":"0-48-103084509597","hs_object_id":"103084509597","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_timestamp":"2024-01-15T10:30:00Z","hs_voicemail_count":"0","hubspot_owner_id":null},"createdAt":"2026-02-02T22:14:44.671Z","updatedAt":"2026-02-02T22:14:44.671Z","archived":false,"url":"https://app.hubspot.com/calls/23170316/review/103084509597"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/calls/103084509597
      x-hubspot-correlation-id:
      - b389833d-e70c-453c-97a2-55e2cb64964e
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '105'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - a
    method: PUT
    uri: https://api.hubapi.com/crm/v3/objects/calls/103084509597/associations/contact/189429067676/call_to_contact
  response:
    body:
      string: '{"id":"103084509597","properties":{"hs_createdate":"2026-02-02T22:14:44.671Z","hs_lastmodifieddate":"2026-02-02T22:14:44.671Z","hs_object_id":"103084509597"},"createdAt":"2026-02-02T22:14:44.671Z","updatedAt":"2026-02-02T22:14:44.671Z","archived":false,"url":"https://app.hubspot.com/calls/23170316/review/103084509597","associations":{"contacts":{"results":[{"id":"189429067676","type":"call_to_contact"}]}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 02e36afd-0c78-4707-9e6b-4fb0077734d8
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '106'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v4/objects/contacts/189429067676/associations/deals
  response:
    body:
      string: '{"results":[{"toObjectId":55287222313,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":4,"label":null}]},{"toObjectId":55290088118,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":4,"label":null}]},{"toObjectId":55312408952,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":4,"label":null}]},{"toObjectId":55334074113,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":4,"label":null}]},{"toObjectId":55340764773,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":4,"label":null}]},{"toObjectId":55360127079,"associationTypes":[{"category":"HUBSPOT_DEFINED","typ[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - a
    method: PUT
    uri: https://api.hubapi.com/crm/v3/objects/calls/103084509597/associations/deal/55287222313/call_to_deal
  response:
    body:
      string: '{"id":"103084509597","properties":{"hs_createdate":"2026-02-02T22:14:44.671Z","hs_lastmodifieddate":"2026-02-02T22:14:45.440Z","hs_object_id":"103084509597"},"createdAt":"2026-02-02T22:14:44.671Z","updatedAt":"2026-02-02T22:14:45.440Z","archived":false,"url":"https://app.hubspot.com/calls/23170316/review/103084509597","associations":{"deals":{"results":[{"id":"55287222313","type":"call_to_deal"}]}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 661a3d67-f41e-4adc-9194-d4dfab636ed8
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '104'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
