interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"groupName": "contactinformation", "hidden": false, "name": "favorite_color",
      "label": "Favorite Color", "type": "string", "fieldType": "textarea"}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/properties/contacts?POST
  response:
    body:
      string: '{"status":"error","message":"A property named ''favorite_color'' already
        exists.","correlationId":"8433b204-a550-4cc0-a3f3-1c7bea6dfd44","context":{"name":["favorite_color"]},"category":"OBJECT_ALREADY_EXISTS","subCategory":"Properties.PROPERTY_WITH_NAME_EXISTS"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 8433b204-a550-4cc0-a3f3-1c7bea6dfd44
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: '{"groupName": "contactinformation", "hidden": false, "name": "customer_tier",
      "label": "Customer Tier", "type": "string", "fieldType": "textarea"}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/properties/contacts?POST
  response:
    body:
      string: '{"updatedAt":"2026-02-02T22:31:10.715Z","createdAt":"2026-02-02T22:31:10.715Z","name":"customer_tier","label":"Customer
        Tier","type":"string","fieldType":"textarea","description":"","groupName":"contactinformation","options":[],"createdUserId":"11017171","updatedUserId":"11017171","displayOrder":-1,"calculated":false,"externalOptions":false,"archived":false,"hasUniqueValue":false,"hidden":false,"modificationMetadata":{"archivable":true,"readOnlyDefinition":false,"readOnlyValue":false},"formField":false,"dataSensitivity":"non_sensitive"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/properties/v3/contacts/customer_tier
      x-hubspot-correlation-id:
      - 8d0406f6-8e4f-4530-aeed-ebd61ffecfdd
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/objects/contacts/custom@example.com?idProperty=email&properties=firstname,lastname,email,favorite_color,customer_tier
  response:
    body:
      string: '<html>

        <head>

        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

        <title>Error 404 Not Found</title>

        </head>

        <body><h2>HTTP ERROR 404</h2>

        <p>Resource not found</p>

        </body>

        </html>

        '
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      x-hubspot-correlation-id:
      - 483873f5-05d4-4d0c-8500-7895c1100564
      x-hubspot-notfound:
      - 'true'
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '107'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"firstname": "Custom", "lastname": "Fields", "email": "custom@example.com",
      "favorite_color": "blue", "customer_tier": "premium"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts
  response:
    body:
      string: '{"id":"198874292549","properties":{"createdate":"2026-02-02T22:31:11.572Z","customer_tier":"premium","email":"custom@example.com","favorite_color":"blue","firstname":"Custom","hs_all_contact_vids":"198874292549","hs_associated_target_accounts":"0","hs_currently_enrolled_in_prospecting_agent":"false","hs_email_domain":"example.com","hs_full_name_or_email":"Custom
        Fields","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"1770071471572","hs_marketable_status":"false","hs_marketable_until_renewal":"false","hs_membership_has_accessed_private_content":"0","hs_object_id":"198874292549","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_prospecting_agent_actively_enrolled_count":"0","hs_prospecting_agent_total_enrolled_count":"0","hs_registered_member":"0","hs_sequences_actively_enrolled_count":"0","hs_v2_date_entered_current_stage":"2026-02-02T22:31:11.572Z","hs_v2_time_in_current_stage":"2026-02-02T22:31:11.572Z","lastmodifieddate":"2026-02-02T22:31:11.572Z","lastname":"Fields","lifecyclestage":"lead","num_notes":"0"},"createdAt":"2026-02-02T22:31:11.572Z","updatedAt":"2026-02-02T22:31:11.572Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/198874292549"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/contacts/198874292549
      x-hubspot-correlation-id:
      - 637f1031-f9e4-4e39-bf28-ea1476640751
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '106'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
