interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/objects/contacts/jane.smith@example.com?idProperty=email&properties=firstname,lastname,email
  response:
    body:
      string: '{"id":"189429067676","properties":{"createdate":"2025-12-31T16:29:06.609Z","email":"jane.smith@example.com","firstname":"Jane","hs_object_id":"189429067676","lastmodifieddate":"2026-02-02T22:14:46.343Z","lastname":"Smith"},"createdAt":"2025-12-31T16:29:06.609Z","updatedAt":"2026-02-02T22:14:46.343Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/189429067676"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 30efb30f-0c63-4039-9663-483d3ba62e89
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '105'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"firstname": "Jane", "lastname": "Smith-Updated", "email":
      "jane.smith@example.com"}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/contacts/189429067676
  response:
    body:
      string: '{"id":"189429067676","properties":{"createdate":"2025-12-31T16:29:06.609Z","email":"jane.smith@example.com","first_deal_created_date":"2026-02-02T15:59:46.956Z","firstname":"Jane","hs_full_name_or_email":"Jane
        Smith-Updated","hs_is_contact":"true","hs_is_unworked":"true","hs_object_id":"189429067676","hs_object_source":"INTEGRATION","hs_object_source_id":"1149586","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_time_between_contact_creation_and_deal_creation":"2849440347","hs_v2_date_entered_current_stage":"2026-02-02T15:59:48.573Z","hs_v2_time_in_current_stage":"2026-02-02T15:59:48.573Z","lastmodifieddate":"2026-02-02T22:23:57.944Z","lastname":"Smith-Updated","lifecyclestage":"opportunity","notes_last_updated":"2024-01-15T10:30:00Z"},"createdAt":"2025-12-31T16:29:06.609Z","updatedAt":"2026-02-02T22:23:57.944Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/189429067676"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 368e7827-1735-4718-a4ba-8d2ffd050018
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '104'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
