interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"dealname": "Test Deal for Associations", "amount": 60000,
      "pipeline": null, "priority": null}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/deals
  response:
    body:
      string: '{"id":"55417444771","properties":{"amount":"60000","amount_in_home_currency":"60000","createdate":"2026-02-02T22:23:51.862Z","days_to_close":"0","deal_currency_code":"USD","dealname":"Test
        Deal for Associations","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_closed_won_count":"0","hs_createdate":"2026-02-02T22:23:51.862Z","hs_days_to_close_raw":"0","hs_deal_stage_probability_shadow":"0","hs_forecast_amount":"60000","hs_has_last_meeting_followups":"false","hs_is_closed_lost":"false","hs_is_closed_won":"false","hs_is_deal_split":"false","hs_lastmodifieddate":"2026-02-02T22:23:51.862Z","hs_num_associated_active_deal_registrations":"0","hs_num_associated_deal_registrations":"0","hs_num_associated_deal_splits":"0","hs_num_of_associated_line_items":"0","hs_num_target_accounts":"0","hs_number_of_call_engagements":"0","hs_number_of_inbound_calls":"0","hs_number_of_outbound_calls":"0","hs_number_of_overdue_tasks":"0","hs_object_id":"55417444771","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0","num_associated_contacts":"0","num_notes":"0","pipeline":null},"createdAt":"2026-02-02T22:23:51.862Z","updatedAt":"2026-02-02T22:23:51.862Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-3/55417444771"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/deals/55417444771
      x-hubspot-correlation-id:
      - abf410d8-477e-4bd1-bb4a-532259722071
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v3/objects/contacts/john.doe@example.com?idProperty=email
  response:
    body:
      string: '{"id":"195327102299","properties":{"createdate":"2026-01-22T21:13:26.655Z","email":"john.doe@example.com","firstname":"John","hs_object_id":"195327102299","lastmodifieddate":"2026-02-02T20:46:32.157Z","lastname":"Doe"},"createdAt":"2026-01-22T21:13:26.655Z","updatedAt":"2026-02-02T20:46:32.157Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/195327102299"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - c30f0779-764f-4dff-a0b7-ad0b5c167fe0
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - a
    method: GET
    uri: https://api.hubapi.com/crm/v4/associations/deals/contacts/labels
  response:
    body:
      string: '{"results":[{"category":"HUBSPOT_DEFINED","typeId":3,"label":null}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 4781a722-def8-4c41-9400-f354f3d3beac
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"associationCategory": "HUBSPOT_DEFINED", "associationTypeId": 3}]'
    headers:
      Content-Type:
      - a
    method: PUT
    uri: https://api.hubapi.com/crm/v4/objects/deals/55417444771/associations/contact/195327102299
  response:
    body:
      string: '{"fromObjectTypeId":"0-3","fromObjectId":55417444771,"toObjectTypeId":"0-1","toObjectId":195327102299,"labels":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v4/deals/55417444771/associations/contact/195327102299/55417444771
      x-hubspot-correlation-id:
      - 0292a6cf-5b55-4082-86ff-45858c1274d6
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '106'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
