interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "email", "operator": "EQ",
      "value": "association@example.com"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
  response:
    body:
      string: '{"total":1,"results":[{"id":"198835336101","properties":{"createdate":"2026-02-02T22:55:58.711Z","email":"association@example.com","firstname":"Test","hs_object_id":"198835336101","lastmodifieddate":"2026-02-02T23:03:00.784Z","lastname":"Contact"},"createdAt":"2026-02-02T22:55:58.711Z","updatedAt":"2026-02-02T23:03:00.784Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/198835336101"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 90ca8220-1f72-45e0-8dc6-d2ac5e8b34b5
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"email": "association@example.com", "firstname": "Test",
      "lastname": "Contact"}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/contacts/198835336101
  response:
    body:
      string: '{"id":"198835336101","properties":{"createdate":"2026-02-02T22:55:58.711Z","email":"association@example.com","firstname":"Test","hs_full_name_or_email":"Test
        Contact","hs_is_unworked":"true","hs_object_id":"198835336101","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_v2_date_entered_current_stage":"2026-02-02T22:55:58.711Z","hs_v2_time_in_current_stage":"2026-02-02T22:55:58.711Z","lastmodifieddate":"2026-02-02T23:03:00.784Z","lastname":"Contact","lifecyclestage":"lead"},"createdAt":"2026-02-02T22:55:58.711Z","updatedAt":"2026-02-02T23:03:00.784Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/198835336101"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - f58686f2-873f-4d79-953e-558be0876ccb
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"associationCategory": "HUBSPOT_DEFINED", "associationTypeId": 279}]'
    headers:
      Content-Type:
      - a
    method: PUT
    uri: https://api.hubapi.com/crm/v4/objects/contacts/198835336101/associations/companies/50349449041
  response:
    body:
      string: '{"fromObjectTypeId":"0-1","fromObjectId":198835336101,"toObjectTypeId":"0-2","toObjectId":50349449041,"labels":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v4/contacts/198835336101/associations/companies/50349449041/198835336101
      x-hubspot-correlation-id:
      - 256631b5-1f63-4fb6-ad22-a4dfceefe1b3
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '107'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
