interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"hs_timestamp": "invalid", "hs_task_body": null, "hs_task_subject":
      null, "hs_task_status": "INVALID_STATUS", "hs_task_priority": null}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/tasks
  response:
    body:
      string: '{"status":"error","message":"Property values were not valid: [{\"isValid\":false,\"message\":\"INVALID_STATUS
        was not one of the allowed options: [COMPLETED, DEFERRED, IN_PROGRESS, NOT_STARTED,
        WAITING]\",\"error\":\"INVALID_OPTION\",\"name\":\"hs_task_status\",\"localizedErrorMessage\":\"INVALID_STATUS
        was not one of the allowed options: [COMPLETED, DEFERRED, IN_PROGRESS, NOT_STARTED,
        WAITING]\",\"propertyValue\":\"INVALID_STATUS\",\"portalId\":23170316},{\"isValid\":false,\"message\":\"invalid
        was not a valid long. Portal 23170316, object type 0-27\",\"error\":\"INVALID_LONG\",\"name\":\"hs_timestamp\",\"localizedErrorMessage\":\"invalid
        was not a valid long. Portal 23170316, object type 0-27\",\"propertyValue\":\"invalid\",\"portalId\":23170316}]","correlationId":"50fe81d5-981b-4cf5-bc9f-a73170684d79","errors":[{"message":"INVALID_STATUS
        was not one of the allowed options: [COMPLETED, DEFERRED, IN_PROGRESS, NOT_STARTED,
        WAITING]","code":"INVALID_OPTION","context":{"propertyName":["hs_task_status"]}},{"message":"invalid
        was not a valid long. Portal 23170316, object type 0-27","code":"INVALID_LONG","context":{"propertyName":["hs_timestamp"]}}],"category":"VALIDATION_ERROR"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 50fe81d5-981b-4cf5-bc9f-a73170684d79
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 400
      message: Bad Request
version: 1
