interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"hs_timestamp": "2024-01-20T15:00:00Z", "hs_task_body":
      "Follow up with client", "hs_task_subject": "Client Follow-up", "hs_task_status":
      "NOT_STARTED", "hs_task_priority": "HIGH"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/tasks
  response:
    body:
      string: '{"id":"103028322052","properties":{"hs_body_preview":"Follow up with
        client","hs_body_preview_html":"<html>\n<head></head>\n<body>\nFollow up with
        client\n</body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2026-02-02T20:42:19.190Z","hs_engagements_last_contacted":"2024-01-20T15:00:00Z","hs_lastmodifieddate":"2026-02-02T20:42:19.190Z","hs_obj_coords":"0-27-103028322052","hs_object_id":"103028322052","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_start_date_with_fallback":"2026-02-02T20:42:19.190Z","hs_task_body":"Follow
        up with client","hs_task_completion_count":"0","hs_task_family":"SALES","hs_task_for_object_type":"OWNER","hs_task_is_all_day":"false","hs_task_is_completed":"0","hs_task_is_completed_call":"0","hs_task_is_completed_email":"0","hs_task_is_completed_linked_in":"0","hs_task_is_completed_sequence":"0","hs_task_is_overdue":"true","hs_task_is_past_due_date":"true","hs_task_is_sub_task":"false","hs_task_missed_due_date":"true","hs_task_missed_due_date_count":"1","hs_task_priority":"HIGH","hs_task_status":"NOT_STARTED","hs_task_subject":"Client
        Follow-up","hs_task_type":"TODO","hs_timestamp":"2024-01-20T15:00:00Z"},"createdAt":"2026-02-02T20:42:19.190Z","updatedAt":"2026-02-02T20:42:19.190Z","archived":false,"url":"https://app.hubspot.com/tasks/23170316/view/all/task/103028322052"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/tasks/103028322052
      x-hubspot-correlation-id:
      - 14613dd7-13b7-4820-b98c-054a456e8e43
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
