interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"hs_timestamp": 1705320000000, "hs_note_body": "Note to
      delete"}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/notes/103063021171
  response:
    body:
      string: '{"id":"103063021171","properties":{"hs_all_owner_ids":"247532175","hs_body_preview":"Note
        to delete","hs_body_preview_html":"<html>\n<head></head>\n<body>\nNote to
        delete\n</body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2026-02-02T17:00:06.779Z","hs_lastmodifieddate":"2026-02-02T20:42:24.272Z","hs_note_body":"Note
        to delete","hs_obj_coords":"0-46-103063021171","hs_object_id":"103063021171","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_timestamp":"2024-01-15T12:00:00Z","hs_user_ids_of_all_owners":"11017171","hubspot_owner_assigneddate":"2026-02-02T17:00:06.779Z","hubspot_owner_id":"247532175"},"createdAt":"2026-02-02T17:00:06.779Z","updatedAt":"2026-02-02T20:42:24.272Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/objects/0-46/views/all/list?filters=%5B%7B%22property%22%3A%22hs_object_id%22%2C%22operator%22%3A%22EQ%22%2C%22value%22%3A%22103063021171%22%7D%5D"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - f18814a8-a9d6-40f4-8bd8-e972a5b1dc06
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
