interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "email", "operator": "EQ",
      "value": "existing@example.com"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
  response:
    body:
      string: '{"total":1,"results":[{"id":"198722703681","properties":{"createdate":"2026-02-02T15:30:47.840Z","email":"existing@example.com","firstname":"Existing","hs_object_id":"198722703681","lastmodifieddate":"2026-02-02T16:29:14.166Z","lastname":"Contact"},"createdAt":"2026-02-02T15:30:47.840Z","updatedAt":"2026-02-02T16:29:14.166Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/198722703681"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 3f4b2444-976a-41d1-ad0c-c7656615ce5a
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"email": "existing@example.com", "firstname": "Existing",
      "lastname": "Contact"}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/contacts/198722703681
  response:
    body:
      string: '{"id":"198722703681","properties":{"createdate":"2026-02-02T15:30:47.840Z","email":"existing@example.com","firstname":"Existing","hs_full_name_or_email":"Existing
        Contact","hs_is_unworked":"true","hs_object_id":"198722703681","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_v2_date_entered_current_stage":"2026-02-02T15:30:47.840Z","hs_v2_time_in_current_stage":"2026-02-02T15:30:47.840Z","lastmodifieddate":"2026-02-02T16:29:14.166Z","lastname":"Contact","lifecyclestage":"lead","notes_last_updated":"2024-01-14T10:00:00Z"},"createdAt":"2026-02-02T15:30:47.840Z","updatedAt":"2026-02-02T16:29:14.166Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/198722703681"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 20282932-f727-4441-b66d-483afb336bfb
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
