interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"name": "Test Company Inc", "domain": "https://testcompany.com",
      "industry": "INFORMATION_TECHNOLOGY_AND_SERVICES"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/companies
  response:
    body:
      string: '{"id":"50536567347","properties":{"createdate":"2026-02-02T22:14:28.298Z","domain":"https://testcompany.com","hs_annual_revenue_currency_code":"USD","hs_lastmodifieddate":"2026-02-02T22:14:28.298Z","hs_num_blockers":"0","hs_num_child_companies":"0","hs_num_contacts_with_buying_roles":"0","hs_num_decision_makers":"0","hs_num_open_deals":"0","hs_object_id":"50536567347","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","hs_task_label":"Test
        Company Inc","hs_v2_date_entered_current_stage":"2026-02-02T22:14:28.298Z","hs_v2_time_in_current_stage":"2026-02-02T22:14:28.298Z","industry":"INFORMATION_TECHNOLOGY_AND_SERVICES","lifecyclestage":"lead","name":"Test
        Company Inc","num_associated_contacts":"0","num_notes":"0","website":"https://testcompany.com"},"createdAt":"2026-02-02T22:14:28.298Z","updatedAt":"2026-02-02T22:14:28.298Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-2/50536567347"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/companies/50536567347
      x-hubspot-correlation-id:
      - 6089a829-8e58-40ce-8b21-710eb930cc80
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '105'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
