interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"filterGroups": [{"filters": [{"propertyName": "email", "operator": "EQ",
      "value": "newcontact.lookup@testdomain.com"}]}]}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
  response:
    body:
      string: '{"total":1,"results":[{"id":"201493388133","properties":{"createdate":"2026-02-11T20:43:20.827Z","email":"newcontact.lookup@testdomain.com","firstname":"New","hs_object_id":"201493388133","lastmodifieddate":"2026-02-11T20:50:22.859Z","lastname":"Contact"},"createdAt":"2026-02-11T20:43:20.827Z","updatedAt":"2026-02-11T20:50:22.859Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/201493388133"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - d5418775-f2e2-4523-94a6-1d013094e60b
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"email": "newcontact.lookup@testdomain.com", "firstname":
      "New-Updated", "lastname": "Contact-Updated"}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/contacts/201493388133
  response:
    body:
      string: '{"id":"201493388133","properties":{"createdate":"2026-02-11T20:43:20.827Z","email":"newcontact.lookup@testdomain.com","firstname":"New-Updated","hs_full_name_or_email":"New-Updated
        Contact-Updated","hs_is_contact":"true","hs_is_unworked":"true","hs_object_id":"201493388133","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_v2_date_entered_current_stage":"2026-02-11T20:43:20.827Z","hs_v2_time_in_current_stage":"2026-02-11T20:43:20.827Z","lastmodifieddate":"2026-02-11T20:56:38.033Z","lastname":"Contact-Updated","lifecyclestage":"lead"},"createdAt":"2026-02-11T20:43:20.827Z","updatedAt":"2026-02-11T20:56:38.033Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-1/201493388133"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 57776760-db63-4835-9b73-6a09c0c594f2
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 200
      message: OK
version: 1
