interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"hs_timestamp": 1705316400000, "hs_note_body": "Updated
      note content", "hubspot_owner_id": 189429067676}}'
    headers:
      Content-Type:
      - a
    method: PATCH
    uri: https://api.hubapi.com/crm/v3/objects/notes/103063021171
  response:
    body:
      string: '{"status":"error","message":"Property values were not valid: [{\"isValid\":false,\"message\":\"189429067676
        was not a valid integer (for owner ID).\",\"error\":\"INVALID_INTEGER\",\"name\":\"hubspot_owner_id\",\"localizedErrorMessage\":\"189429067676
        was not a valid integer (for owner ID).\",\"portalId\":23170316}]","correlationId":"36a845e3-575b-40cf-97f8-f33afe3bacbd","errors":[{"message":"189429067676
        was not a valid integer (for owner ID).","code":"INVALID_INTEGER","context":{"propertyName":["hubspot_owner_id"]}}],"category":"VALIDATION_ERROR"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-hubspot-correlation-id:
      - 36a845e3-575b-40cf-97f8-f33afe3bacbd
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '109'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 400
      message: Bad Request
version: 1
