interactions:
- request:
    body: grant_type=refresh_token&redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/oauth/v1/token
  response:
    body:
      string: '{"token_type": "bearer", "refresh_token": "<REDACTED>", "access_token":
        "<REDACTED>", "hub_id": 23170316, "scopes": ["collector.graphql_query.execute",
        "crm.objects.owners.read", "crm.lists.read", "settings.users.teams.read",
        "crm.objects.deals.read", "crm.objects.subscriptions.read", "crm.objects.services.read",
        "crm.extensions_calling_transcripts.read", "cms.functions.write", "crm.objects.listings.write",
        "crm.objects.custom.read", "cms.knowledge_base.settings.read", "conversations.visitor_identification.tokens.create",
        "crm.schemas.quotes.read", "crm.objects.compani[...]
- request:
    body: '{"properties": {"dealname": "New Deal", "amount": 50000, "closedate": "2024-12-31T00:00:00Z",
      "dealstage": "qualifiedtobuy"}}'
    headers:
      Content-Type:
      - a
    method: POST
    uri: https://api.hubapi.com/crm/v3/objects/deals
  response:
    body:
      string: '{"id":"55382533273","properties":{"amount":"50000","amount_in_home_currency":"50000","closedate":"2024-12-31T00:00:00Z","createdate":"2026-02-02T22:56:03.236Z","days_to_close":"0","deal_currency_code":"USD","dealname":"New
        Deal","dealstage":"qualifiedtobuy","hs_actual_duration":"0","hs_closed_amount":"0","hs_closed_amount_in_home_currency":"0","hs_closed_deal_close_date":"0","hs_closed_deal_create_date":"0","hs_closed_won_count":"0","hs_createdate":"2026-02-02T22:56:03.236Z","hs_days_to_close_raw":"0","hs_deal_stage_probability_shadow":"0.40000000000000002220446049250313080847263336181640625","hs_forecast_amount":"50000","hs_has_last_meeting_followups":"false","hs_is_closed":"false","hs_is_closed_count":"0","hs_is_closed_lost":"false","hs_is_closed_won":"false","hs_is_deal_split":"false","hs_is_open_count":"1","hs_lastmodifieddate":"2026-02-02T22:56:03.236Z","hs_num_associated_active_deal_registrations":"0","hs_num_associated_deal_registrations":"0","hs_num_associated_deal_splits":"0","hs_num_of_associated_line_items":"0","hs_num_target_accounts":"0","hs_number_of_call_engagements":"0","hs_number_of_inbound_calls":"0","hs_number_of_outbound_calls":"0","hs_number_of_overdue_tasks":"0","hs_object_id":"55382533273","hs_object_source":"INTEGRATION","hs_object_source_id":"28056811","hs_object_source_label":"INTEGRATION","hs_open_amount_in_home_currency":"50000","hs_open_deal_create_date":"1770072963236","hs_projected_amount":"0","hs_projected_amount_in_home_currency":"0","hs_v2_date_entered_current_stage":"2026-02-02T22:56:03.236Z","hs_v2_time_in_current_stage":"2026-02-02T22:56:03.236Z","num_associated_contacts":"0","num_notes":"0","pipeline":"default"},"createdAt":"2026-02-02T22:56:03.236Z","updatedAt":"2026-02-02T22:56:03.236Z","archived":false,"url":"https://app.hubspot.com/contacts/23170316/record/0-3/55382533273"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/objects/v3/deals/55382533273
      x-hubspot-correlation-id:
      - be94ef53-3b24-44d7-a781-93edb71fa78f
      x-hubspot-ratelimit-interval-milliseconds:
      - '10000'
      x-hubspot-ratelimit-max:
      - '110'
      x-hubspot-ratelimit-remaining:
      - '108'
      x-hubspot-ratelimit-secondly:
      - '11'
      x-hubspot-ratelimit-secondly-remaining:
      - '10'
    status:
      code: 201
      message: Created
version: 1
